body {
    background-color: black;
    color: black;
}
.settings {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 10px;
    border: solid 10px rgb(255, 255, 255);
    margin: 0 auto;
    width: 320px;
    color: white;
}
h2 {
    text-align: center;
    margin-top: 40px;
    color: white;
}
.back {
    text-align: right;
    margin-top: -16%;
}